body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #0f172a, #1e3a8a); /* azul oscuro elegante */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.form-container {
  width: 380px;
  padding: 40px;
  border-radius: 16px;
  background-color: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  color: white;
}

.form-container h2 {
  color: #1d4ed8;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
}

.inputs {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s ease;
}
.form-container input:focus {
  border-color: #1d4ed8;
}


.form-container input::placeholder {
  color: #606264;
}

.form-container input:focus {
  border-color: #1d4ed8;
}

.button-register {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

 /* Botón de registrar */
  .register {
    background-color: #1d4ed8;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: background 0.3s ease;
  }
  
  .register:hover {
    background-color: #2563eb;
  }

  /*
.form-container button {
  background-color: #1d4ed8;
  padding: 12px 24px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease;
  width: 100%;
}

.form-container button:hover {
  background-color: #2563eb;
}

.mensaje {
  margin-top: 10px;
  color: #f1c40f;
  text-align: center;
}
