body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #0a0f2c, #1c2e8d);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  max-width: 550px;
  min-height: 700px; /* 🔹 Aquí le damos más altura al recuadro azul oscuro */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 10px #000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 🔹 Esto centra verticalmente los campos dentro del recuadro */
}

.form-container h2 {
  color: #1d4ed8;
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 2px solid #3498db;
  display: inline-block;
  padding-bottom: 5px;
}

.form-container .input {
  width: 100%;
  margin-bottom: 15px;
}

.form-container input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #2c3e50;
  color: white;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s ease;
}

.form-container input::placeholder {
  color: #bdc3c7;
}

.form-container input:focus {
  border-color: #1d4ed8;
}

.form-container .button-register {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.form-container button {
  background-color: #1d4ed8;
  padding: 12px 24px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease;
  width: 100%;
}

.form-container button:hover {
  background-color: #2563eb;
}

.mensaje {
  margin-top: 10px;
  color: #f1c40f;
  text-align: center;
}
