/* RegisterData.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #0f172a, #1e3a8a); /* azul oscuro elegante */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;

}
.form-container {
  width: 380px;
  padding: 40px;
  border-radius: 16px;
  background-color: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  color: white;
}

.form-container h2 {
  color: #1d4ed8;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
}

.inputs {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;

  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease, background-color 0.3s ease;

  /* 🔽 Estas dos son fundamentales para evitar que se encimen */
  display: block;
  box-sizing: border-box;
}
.form-container input:focus {
  border-color: #1d4ed8;
}



.form-container input::placeholder {
  color: #606264;
}

.form-container input:focus {
  border-color: #1d4ed8;
}

.button-register {
  margin-top: 40px;
  display: flex;
  justify-content: center;

}

 /* Botón de registrar */
  .register {
    background-color: #1d4ed8;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: background 0.3s ease;
  }
  
  .register:hover {
    background-color: #2563eb;
  }

  /*
.form-container button {
  background-color: #1d4ed8;
  color: white;
  font-weight: bold;
  padding: 14px 24px;
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  margin-top: 10px;
}

.form-container button:hover {
  background-color: #2563eb;
}

.mensaje {
  margin-top: 18px;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  border-left: 5px solid #61dafb;
  border-radius: 8px;
  color: #f1c40f;
}

/* 🔸 Media Queries para hacerlo responsive */
@media (max-width: 768px) {
  .form-container {
    padding: 30px 20px;
  }

  .form-container h2 {
    font-size: 20px;
  }

  .form-container input,
  .form-container button {
    font-size: 15px;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .form-container {
    padding: 25px 15px;
  }

  .form-container h2 {
    font-size: 18px;
  }

  .form-container input,
  .form-container button {
    font-size: 14px;
    padding: 10px;
  }
}
